
@using _29._03hw.Models

@{
    ViewData["Title"] = "Detail";
    Student std = ViewBag.Student;
}


<h1>Student detail</h1>
<h2>FullName: @std.FullName</h2>
<h2>Point: @std.Point</h2>


